@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post">
    <input name="username" placeholder="Usuario" />
    <input name="password" type="password" placeholder="Contraseña" />
    <button type="submit">Login</button>
</form>

@if (ViewBag.Error != null)
{
    <p>@ViewBag.Error</p>
}